<div class="presentation">
  <section class="media">
    <h3 class="media-heading">
      Welcome to <%= site.title %>
    </h3>
    <div class="logo-header">
      <p class="brand"></p>
    </div>
    <div>
    <span><br><br><br>
    International parcels delivered anytime
    </span></div>
    <footer>
      <a href="/sign_up/" class="btn btn-default sign_up">
      Sign up
      </a>
    </footer>
  </section>
</div>
